.estad-sticas,
.estad-sticas * {
  box-sizing: border-box;
}
.estad-sticas {
  background: var(--light-system-background-secondary, #f7f7fc);
  width: 1440px;
  height: 2772px;
  position: relative;
  overflow: hidden;
}
.info-card {
  position: absolute;
  inset: 0;
}
.container {
  background: #0764e3;
  border-radius: 8px;
  width: 352px;
  height: 229px;
  position: absolute;
  left: 1056px;
  top: 1977px;
}
.action-button {
  width: 130px;
  height: 24px;
  position: static;
}
.prueba-ahora {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 1080px;
  top: 2161px;
}
.arrow-chevron-right {
  position: absolute;
  left: 1186px;
  top: 2158px;
  overflow: visible;
}
.a-n-no-has-promocionado-ning-n-producto {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 400 24px/120% "Nunito", sans-serif;
  position: absolute;
  left: 1080px;
  top: 2076px;
}
.cargos-por-publicidad {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 1080px;
  top: 2049px;
}
.receipt-paper-bill {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1080px;
  top: 2001px;
  overflow: hidden;
}
.group {
  position: absolute;
  left: 4px;
  top: 4px;
  overflow: visible;
}
.container2 {
  background: #fdc114;
  border-radius: 8px;
  width: 352px;
  height: 229px;
  position: absolute;
  left: 672px;
  top: 1977px;
}
._1 {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 700 48px/120% "Nunito", sans-serif;
  position: absolute;
  left: 696px;
  top: 2076px;
}
.reembolsos {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 696px;
  top: 2049px;
}
.history {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 696px;
  top: 2001px;
  overflow: hidden;
}
.group2 {
  position: absolute;
  left: 4px;
  top: 4px;
  overflow: visible;
}
.container3 {
  background: #70b6c1;
  border-radius: 8px;
  width: 352px;
  height: 229px;
  position: absolute;
  left: 288px;
  top: 1977px;
}
.action-button2 {
  width: 160px;
  height: 24px;
  position: static;
}
.ver-transacciones {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 2161px;
}
.arrow-chevron-right2 {
  position: absolute;
  left: 448px;
  top: 2158px;
  overflow: visible;
}
.q-5-200 {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 700 48px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 2076px;
}
.ingresos {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 2049px;
}
.credit-card-1 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 312px;
  top: 2001px;
  overflow: hidden;
}
.group3 {
  position: absolute;
  left: 2.67px;
  top: 6.67px;
  overflow: visible;
}
.transactions-data {
  position: absolute;
  inset: 0;
}
.container4 {
  background: var(--light-system-background-primary, #ffffff);
  border-radius: 8px;
  width: 1120px;
  height: 434px;
  position: absolute;
  left: 288px;
  top: 1511px;
}
.label {
  width: 115px;
  height: 18px;
  position: static;
}
.exitosos-5 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 600 14px/130% "Nunito", sans-serif;
  position: absolute;
  left: 350px;
  top: 1821px;
}
.bar {
  background: var(--light-accent-1-color-50, #42bda1);
  border-radius: 8px;
  width: 24px;
  height: 8px;
  position: absolute;
  left: 312px;
  top: 1826px;
}
.label2 {
  width: 142px;
  height: 18px;
  position: static;
}
.reembolsos-1 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 600 14px/130% "Nunito", sans-serif;
  position: absolute;
  left: 352px;
  top: 1863px;
}
.bar2 {
  background: var(--light-other-color-error, #f04461);
  border-radius: 8px;
  width: 24px;
  height: 8px;
  position: absolute;
  left: 312px;
  top: 1868px;
}
.detail-timeline {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 887px;
  position: absolute;
  left: 497px;
  top: 1902px;
}
._10 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 16px/120% "Nunito", sans-serif;
  position: relative;
  flex: 1;
}
._11 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 16px/120% "Nunito", sans-serif;
  position: relative;
  flex: 1;
}
._12 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 16px/120% "Nunito", sans-serif;
  position: relative;
  flex: 1;
}
._13 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 16px/120% "Nunito", sans-serif;
  position: relative;
  flex: 1;
}
._14 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 16px/120% "Nunito", sans-serif;
  position: relative;
  flex: 1;
}
._15 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 16px/120% "Nunito", sans-serif;
  position: relative;
  flex: 1;
}
._16 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 16px/120% "Nunito", sans-serif;
  position: relative;
  flex: 1;
}
._17 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 16px/120% "Nunito", sans-serif;
  position: relative;
  flex: 1;
}
._18 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 16px/120% "Nunito", sans-serif;
  position: relative;
}
.divider {
  display: flex;
  flex-direction: row;
  gap: 88px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 497px;
  top: 1650px;
  overflow: visible;
}
.bar3 {
  width: 474px;
  height: 160px;
  position: static;
}
.bar4 {
  background: #57c2ef;
  border-radius: 8px;
  width: 16px;
  height: 160px;
  position: absolute;
  left: 487px;
  top: 1726px;
}
.bar5 {
  background: #57c2ef;
  border-radius: 8px;
  width: 16px;
  height: 160px;
  position: absolute;
  left: 704px;
  top: 1726px;
}
.bar6 {
  background: #57c2ef;
  border-radius: 8px;
  width: 16px;
  height: 160px;
  position: absolute;
  left: 921px;
  top: 1726px;
}
.bar7 {
  background: #fdc114;
  border-radius: 8px;
  width: 16px;
  height: 128px;
  position: absolute;
  left: 511px;
  top: 1886px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.bar8 {
  background: #fdc114;
  border-radius: 8px;
  width: 16px;
  height: 128px;
  position: absolute;
  left: 728px;
  top: 1886px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.bar9 {
  background: #fdc114;
  border-radius: 8px;
  width: 16px;
  height: 128px;
  position: absolute;
  left: 945px;
  top: 1886px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.top-ads {
  width: 253px;
  height: 24px;
  position: static;
}
.togle {
  width: 44px;
  height: 24px;
  position: absolute;
  left: 1340px;
  top: 1602px;
}
.rectangle-17 {
  background: var(--light-fills-color-progress-container, #e2e2ea);
  border-radius: 16px;
  width: 44px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ellipse-24 {
  background: var(--light-base-color-white, #ffffff);
  border-radius: 50%;
  width: 20.88px;
  height: 21px;
  position: absolute;
  left: 1.49px;
  top: 1.5px;
  box-shadow: 0px 1px 2px 0px rgba(8, 0, 106, 0.1);
}
.productos-promocionados {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 1131px;
  top: 1605px;
}
.label3 {
  width: 160px;
  height: 18px;
  position: static;
}
.done-transactions {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 600 14px/130% "Nunito", sans-serif;
  position: absolute;
  left: 714px;
  top: 1605px;
}
.bar10 {
  background: #fdc114;
  border-radius: 8px;
  width: 24px;
  height: 8px;
  position: absolute;
  left: 674px;
  top: 1610px;
}
.label4 {
  width: 152px;
  height: 18px;
  position: static;
}
.total-transaction {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 600 14px/130% "Nunito", sans-serif;
  position: absolute;
  left: 537px;
  top: 1605px;
}
.bar11 {
  background: var(--light-secondary-color-30, #55aaf1);
  border-radius: 8px;
  width: 24px;
  height: 8px;
  position: absolute;
  left: 497px;
  top: 1610px;
}
.item {
  width: 118px;
  height: 51px;
  position: static;
}
._5 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 24px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 1624px;
}
.transacciones-totales {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 12px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 1602px;
}
.heading {
  width: 1072px;
  height: 43px;
  position: static;
}
.divider11 {
  position: absolute;
  left: 312px;
  top: 1578px;
  overflow: visible;
}
.ltimas-transacciones {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: var(--heading-h-6-bold, 700 16px/120% "Mulish", sans-serif);
  position: absolute;
  left: 312px;
  top: 1535px;
}
.bar12 {
  width: 120px;
  height: 120px;
  position: static;
}
.bar13 {
  background: var(--light-other-color-error, #f04461);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 312px;
  top: 1677px;
}
.bar14 {
  background: var(--light-accent-1-color-50, #42bda1);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 312px;
  top: 1677px;
}
.bar15 {
  background: var(--light-accent-1-color-10, #d9f2ec);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 332px;
  top: 1697px;
}
._52 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 24px/120% "Nunito", sans-serif;
  position: absolute;
  left: 364px;
  top: 1723px;
}
.product-data {
  position: absolute;
  inset: 0;
}
.container5 {
  background: var(--light-system-background-primary, #ffffff);
  border-radius: 8px;
  width: 1120px;
  height: 434px;
  position: absolute;
  left: 288px;
  top: 594px;
}
.detail-timeline2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 887px;
  position: absolute;
  left: 497px;
  top: 985px;
}
.divider12 {
  display: flex;
  flex-direction: row;
  gap: 88px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 497px;
  top: 733px;
  overflow: visible;
}
.bar16 {
  position: absolute;
  left: 487px;
  top: 809px;
  overflow: visible;
}
.top-ads2 {
  width: 259px;
  height: 24px;
  position: static;
}
.togle2 {
  width: 44px;
  height: 24px;
  position: absolute;
  left: 1340px;
  top: 685px;
}
.productos-promocionados2 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: var(--heading-h-6-bold, 700 16px/120% "Mulish", sans-serif);
  position: absolute;
  left: 1125px;
  top: 688px;
}
.label5 {
  width: 171px;
  height: 18px;
  position: static;
}
.productos-vendidos {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: var(--body-body-2-semibold, 600 14px/130% "Mulish", sans-serif);
  position: absolute;
  left: 707px;
  top: 688px;
}
.bar23 {
  background: #07405b;
  border-radius: 8px;
  width: 24px;
  height: 8px;
  position: absolute;
  left: 667px;
  top: 693px;
}
.label6 {
  width: 147px;
  height: 18px;
  position: static;
}
.productos-vistos {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 600 14px/130% "Nunito", sans-serif;
  position: absolute;
  left: 537px;
  top: 688px;
}
.bar24 {
  background: #57c2ef;
  border-radius: 8px;
  width: 24px;
  height: 8px;
  position: absolute;
  left: 497px;
  top: 693px;
}
.item2 {
  width: 108px;
  height: 51px;
  position: static;
}
._20 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 12px/120% "Nunito", sans-serif;
  position: absolute;
  left: 357px;
  top: 942px;
}
._102 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 24px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 932px;
}
.productos-vendidos2 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 12px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 910px;
}
._122 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 12px/120% "Nunito", sans-serif;
  position: absolute;
  left: 357px;
  top: 867px;
}
._25 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 24px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 857px;
}
.ratio-de-conversi-n {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 12px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 835px;
}
.item3 {
  width: 107px;
  height: 51px;
  position: static;
}
._103 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 12px/120% "Nunito", sans-serif;
  position: absolute;
  left: 343px;
  top: 792px;
}
._53 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 24px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 782px;
}
.transacci-n-exitosa {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 12px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 760px;
}
.item4 {
  width: 91px;
  height: 51px;
  position: static;
}
._104 {
  color: var(--light-text-color-body-1, #92929d);
  text-align: left;
  font: 400 12px/120% "Nunito", sans-serif;
  position: absolute;
  left: 364px;
  top: 717px;
}
._500 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 24px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 707px;
}
.productos-vistos2 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 12px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 685px;
}
.divider22 {
  position: absolute;
  left: 312px;
  top: 661px;
  overflow: visible;
}
.datos-de-productos {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: var(--heading-h-6-bold, 700 16px/120% "Mulish", sans-serif);
  position: absolute;
  left: 312px;
  top: 618px;
}
.latest-orders {
  position: absolute;
  inset: 0;
}
.container6 {
  background: var(--light-system-background-primary, #ffffff);
  border-radius: 8px;
  width: 1120px;
  height: 419px;
  position: absolute;
  left: 288px;
  top: 1060px;
}
.item5 {
  width: 1120px;
  height: 88px;
  position: static;
}
.container7 {
  background: var(--light-system-background-primary, #ffffff);
  width: 1120px;
  height: 88px;
  position: absolute;
  left: 288px;
  top: 1391px;
}
.divider23 {
  position: absolute;
  left: 288px;
  top: 1479px;
  overflow: visible;
}
.action {
  width: 181px;
  height: 40px;
  position: static;
}
.button {
  border-radius: 8px;
  border-style: solid;
  border-color: #0764e3;
  border-width: 2px;
  padding: 5px 12px 5px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: absolute;
  left: 1056px;
  top: 1415px;
}
.click-here {
  color: #0764e3;
  text-align: center;
  font: var(--menu-menu-1-bold, 700 16px/120% "Mulish", sans-serif);
  position: relative;
}
.button2 {
  background: var(--light-other-color-error, #f04461);
  border-radius: 8px;
  padding: 5px 12px 5px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: absolute;
  left: 1150px;
  top: 1415px;
}
.click-here2 {
  color: var(--light-text-link-color-white, #ffffff);
  text-align: center;
  font: var(--menu-menu-1-bold, 700 16px/120% "Mulish", sans-serif);
  position: relative;
}
.feb-29-2024 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 858px;
  top: 1426px;
}
._19 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: var(--heading-h-6-bold, 700 16px/120% "Mulish", sans-serif);
  position: absolute;
  left: 698px;
  top: 1426px;
}
.product {
  width: 162px;
  height: 24px;
  position: static;
}
.headphone-joss {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 416px;
  top: 1426px;
}
.container8 {
  background: var(--light-fills-color-image-placeholder, #e2e2ea);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 376px;
  top: 1423px;
}
.check {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--light-fills-color-icon, #9a9ab0);
  border-width: 2px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 312px;
  top: 1423px;
}
.container9 {
  background: var(--light-system-background-primary, #ffffff);
  width: 1120px;
  height: 88px;
  position: absolute;
  left: 288px;
  top: 1303px;
}
.divider24 {
  position: absolute;
  left: 288px;
  top: 1391px;
  overflow: visible;
}
.button3 {
  border-radius: 8px;
  border-style: solid;
  border-color: #0764e3;
  border-width: 2px;
  padding: 5px 12px 5px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: absolute;
  left: 1056px;
  top: 1327px;
}
.button4 {
  background: var(--light-other-color-error, #f04461);
  border-radius: 8px;
  padding: 5px 12px 5px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: absolute;
  left: 1150px;
  top: 1327px;
}
.feb-29-20242 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 858px;
  top: 1338px;
}
._110 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 698px;
  top: 1338px;
}
.headphone-joss2 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 416px;
  top: 1338px;
}
.container10 {
  background: var(--light-fills-color-image-placeholder, #e2e2ea);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 376px;
  top: 1335px;
}
.check2 {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--light-fills-color-icon, #9a9ab0);
  border-width: 2px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 312px;
  top: 1335px;
}
.container11 {
  background: var(--light-system-background-primary, #ffffff);
  width: 1120px;
  height: 88px;
  position: absolute;
  left: 288px;
  top: 1215px;
}
.divider25 {
  position: absolute;
  left: 288px;
  top: 1303px;
  overflow: visible;
}
.button5 {
  border-radius: 8px;
  border-style: solid;
  border-color: #0764e3;
  border-width: 2px;
  padding: 5px 12px 5px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: absolute;
  left: 1056px;
  top: 1239px;
}
.button6 {
  background: var(--light-other-color-error, #f04461);
  border-radius: 8px;
  padding: 5px 12px 5px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: absolute;
  left: 1150px;
  top: 1239px;
}
.feb-29-20243 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 858px;
  top: 1250px;
}
._111 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 698px;
  top: 1250px;
}
.headphone-joss3 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 416px;
  top: 1250px;
}
.container12 {
  background: var(--light-fills-color-image-placeholder, #e2e2ea);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 376px;
  top: 1247px;
}
.check3 {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--light-fills-color-icon, #9a9ab0);
  border-width: 2px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 312px;
  top: 1247px;
}
.table-header {
  width: 1120px;
  height: 64px;
  position: static;
}
.divider26 {
  position: absolute;
  left: 288px;
  top: 1215px;
  overflow: visible;
}
.table-header2 {
  background: var(--background-white, #ffffff);
  padding: 0px 16px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 359px;
  height: 64px;
  position: absolute;
  left: 1049px;
  top: 1151px;
}
.row-header {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  opacity: 0.800000011920929;
  position: relative;
  flex: 1;
}
.table-header3 {
  background: var(--background-white, #ffffff);
  padding: 0px 16px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 64px;
  position: absolute;
  left: 836px;
  top: 1151px;
}
.group-12 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: static;
}
.rectangle-1 {
  border-radius: 2px;
  opacity: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 168px;
  top: 14px;
}
.ui-chevron-down {
  position: absolute;
  left: 168px;
  top: 14px;
  overflow: visible;
}
.table-header4 {
  background: var(--background-white, #ffffff);
  padding: 0px 16px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 64px;
  position: absolute;
  left: 676px;
  top: 1151px;
}
.rectangle-12 {
  border-radius: 2px;
  opacity: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 128px;
  top: 14px;
}
.ui-chevron-down2 {
  position: absolute;
  left: 128px;
  top: 14px;
  overflow: visible;
}
.table-header5 {
  background: var(--background-white, #ffffff);
  padding: 0px 16px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 307px;
  height: 64px;
  position: absolute;
  left: 365px;
  top: 1151px;
}
.rectangle-13 {
  border-radius: 2px;
  opacity: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 275px;
  top: 14px;
}
.ui-chevron-down3 {
  position: absolute;
  left: 275px;
  top: 14px;
  overflow: visible;
}
.table-header6 {
  background: var(--background-white, #ffffff);
  padding: 0px 22px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  height: 64px;
  position: absolute;
  left: 313px;
  top: 1151px;
  overflow: hidden;
}
.check-radio-button {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.rectangle-132 {
  background: var(--light-base-color-white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--light-secondary-color-50, #2d96ee);
  border-width: 2px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.divider27 {
  position: absolute;
  left: 312px;
  top: 1127px;
  overflow: visible;
}
.ltimas-rdenes {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: var(--heading-h-6-bold, 700 16px/120% "Mulish", sans-serif);
  position: absolute;
  left: 312px;
  top: 1084px;
}
.dropdown {
  width: 132px;
  height: 24px;
  position: static;
}
.esta-semana {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: var(--heading-h-6-bold, 700 16px/120% "Mulish", sans-serif);
  position: absolute;
  left: 1252px;
  top: 1086px;
}
.arrow-chevron-down {
  position: absolute;
  left: 1360px;
  top: 1084px;
  overflow: visible;
}
.store-performance {
  position: absolute;
  inset: 0;
}
.container13 {
  background: var(--light-system-background-primary, #ffffff);
  border-radius: 8px;
  width: 1120px;
  height: 381px;
  position: absolute;
  left: 288px;
  top: 181px;
}
.indicator {
  background: var(--light-system-background-secondary, #f7f7fc);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 312px;
  top: 480px;
}
.reembolsos-solicitados {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 14px/130% "Nunito", sans-serif;
  position: relative;
}
.label7 {
  background: var(--light-other-color-error, #f04461);
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1-30 {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 600 14px/130% "Nunito", sans-serif;
  position: relative;
}
.indicator2 {
  background: var(--light-system-background-secondary, #f7f7fc);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1027px;
  top: 398px;
}
.promocionados {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 14px/130% "Nunito", sans-serif;
  position: relative;
}
.label8 {
  background: var(--light-accent-2-color-50, #f2870d);
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._20-20 {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 600 14px/130% "Nunito", sans-serif;
  position: relative;
}
.indicator3 {
  background: var(--light-system-background-secondary, #f7f7fc);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 811px;
  top: 398px;
}
.sin-promocionar {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 14px/130% "Nunito", sans-serif;
  position: relative;
}
.label9 {
  background: var(--light-accent-1-color-50, #42bda1);
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._10-15 {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 600 14px/130% "Nunito", sans-serif;
  position: relative;
}
.indicator4 {
  background: var(--light-system-background-secondary, #f7f7fc);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 566px;
  top: 398px;
}
.mensajes-reenviados {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 14px/130% "Nunito", sans-serif;
  position: relative;
}
.label10 {
  background: var(--light-secondary-color-50, #2d96ee);
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.indicator5 {
  background: var(--light-system-background-secondary, #f7f7fc);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 312px;
  top: 398px;
}
.respuesta-a-mensajes {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 14px/130% "Nunito", sans-serif;
  position: relative;
}
.label11 {
  background: var(--light-primary-color-50, #5541d7);
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._10-10 {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 600 14px/130% "Nunito", sans-serif;
  position: relative;
}
.indicators {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 360px;
}
._85 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 400 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 1349px;
  top: 318px;
}
.bar25 {
  width: 1013px;
  height: 16px;
  position: static;
}
.bar26 {
  background: #bee6f4;
  border-radius: 8px;
  width: 1013px;
  height: 16px;
  position: absolute;
  left: 312px;
  top: 320px;
}
.bar27 {
  background: #0764e3;
  border-radius: 8px;
  width: 832px;
  height: 16px;
  position: absolute;
  left: 312px;
  top: 320px;
}
.dropdown2 {
  width: 128px;
  height: 24px;
  position: static;
}
.esta-semana2 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 274px;
}
.arrow-chevron-down2 {
  position: absolute;
  left: 416px;
  top: 272px;
  overflow: visible;
}
.divider28 {
  position: absolute;
  left: 312px;
  top: 248px;
  overflow: visible;
}
.desempe-o-de-tus-ventas {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 312px;
  top: 205px;
}
.estad-sticas2 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 31px/120% "Nunito", sans-serif;
  position: absolute;
  left: 288px;
  top: 112px;
}
.side-menu {
  position: absolute;
  inset: 0;
}
.container14 {
  background: var(--light-system-background-primary, #ffffff);
  width: 256px;
  height: 2243px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.divider29 {
  border-style: solid;
  border-color: var(--light-separators-colors-secondary, #e1e1e1);
  border-width: 1px 0 0 0;
  width: 2094.96px;
  height: 0px;
  position: absolute;
  left: 256px;
  top: 148.04px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.reviews {
  width: 256px;
  height: 59.88px;
  position: static;
}
.margin {
  width: 256px;
  height: 59.88px;
  position: absolute;
  left: 0px;
  top: 605.45px;
}
.menu {
  width: 224px;
  height: 46.57px;
  position: static;
}
.menu-active {
  border-radius: 8px;
  width: 224px;
  height: 46.57px;
  position: absolute;
  left: 16px;
  top: 612.11px;
}
.recomendaciones {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 72px;
  top: 627px;
  width: 138px;
  height: 16px;
}
.comment-2 {
  width: 24px;
  height: 19.96px;
  position: absolute;
  left: 32px;
  top: 625.41px;
  overflow: hidden;
}
.group4 {
  position: absolute;
  left: 3px;
  top: 2.49px;
  overflow: visible;
}
.message {
  width: 256px;
  height: 59.88px;
  position: static;
}
.margin2 {
  width: 256px;
  height: 59.88px;
  position: absolute;
  left: 0px;
  top: 545.57px;
}
.menu-active2 {
  border-radius: 8px;
  width: 224px;
  height: 46.57px;
  position: absolute;
  left: 16px;
  top: 552.23px;
}
.mensajes {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 72px;
  top: 567px;
  width: 82px;
  height: 16px;
}
.comment-1 {
  width: 24px;
  height: 19.96px;
  position: absolute;
  left: 32px;
  top: 565.53px;
  overflow: hidden;
}
.group5 {
  position: absolute;
  left: 3px;
  top: 2.49px;
  overflow: visible;
}
.promotions {
  width: 256px;
  height: 59.88px;
  position: static;
}
.margin3 {
  width: 256px;
  height: 59.88px;
  position: absolute;
  left: 0px;
  top: 485.69px;
}
.menu2 {
  width: 128px;
  height: 19.96px;
  position: static;
}
.anuncios {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 72px;
  top: 507.32px;
  width: 88px;
  height: 15.8px;
}
.history2 {
  width: 24px;
  height: 19.96px;
  position: absolute;
  left: 32px;
  top: 505.65px;
  overflow: hidden;
}
.group6 {
  position: absolute;
  left: 3px;
  top: 2.49px;
  overflow: visible;
}
.transaction {
  width: 256px;
  height: 59.88px;
  position: static;
}
.margin4 {
  width: 256px;
  height: 59.88px;
  position: absolute;
  left: 0px;
  top: 425.81px;
}
.menu3 {
  width: 149px;
  height: 19.96px;
  position: static;
}
.transacciones {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 74.88px;
  top: 447.44px;
  width: 106.12px;
  height: 15.8px;
}
.credit-card-12 {
  width: 25.73px;
  height: 19.96px;
  position: absolute;
  left: 32px;
  top: 445.77px;
  overflow: hidden;
}
.group7 {
  position: absolute;
  left: 2.14px;
  top: 4.16px;
  overflow: visible;
}
.order {
  width: 256px;
  height: 59.88px;
  position: static;
}
.margin5 {
  width: 256px;
  height: 59.88px;
  position: absolute;
  left: 0px;
  top: 365.93px;
}
.menu-active3 {
  border-radius: 8px;
  width: 224px;
  height: 46.57px;
  position: absolute;
  left: 16px;
  top: 372.59px;
}
.rdenes {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 72px;
  top: 388px;
  width: 82px;
  height: 15px;
}
.shopping-cart {
  position: absolute;
  left: 32px;
  top: 385.89px;
  overflow: visible;
}
.my-product {
  width: 256px;
  height: 59.88px;
  position: static;
}
.margin6 {
  width: 256px;
  height: 59.88px;
  position: absolute;
  left: 0px;
  top: 306.05px;
}
.productos {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 72px;
  top: 327.68px;
  width: 88px;
  height: 15.8px;
}
.shopping-bag {
  position: absolute;
  left: 32px;
  top: 326.01px;
  overflow: visible;
}
.statistics {
  width: 256px;
  height: 59.88px;
  position: static;
}
.margin7 {
  width: 256px;
  height: 59.88px;
  position: absolute;
  left: 0px;
  top: 246.17px;
}
.menu-active4 {
  background: #fdc114;
  border-radius: 8px;
  width: 224px;
  height: 46.57px;
  position: absolute;
  left: 16px;
  top: 252.83px;
}
.estad-sticas3 {
  color: var(--light-base-color-white, #ffffff);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 72px;
  top: 268px;
  width: 99px;
  height: 16px;
}
.chart-statistics-2 {
  position: absolute;
  left: 32px;
  top: 266.13px;
  overflow: visible;
}
.dashboard {
  width: 256px;
  height: 59.88px;
  position: static;
}
.margin8 {
  width: 256px;
  height: 59.88px;
  position: absolute;
  left: 0px;
  top: 186.29px;
}
.menu4 {
  width: 126px;
  height: 19.96px;
  position: static;
}
.dashboard2 {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: 700 16px/120% "Nunito", sans-serif;
  position: absolute;
  left: 72px;
  top: 207.92px;
  width: 86px;
  height: 15.8px;
}
.menu-7 {
  width: 24px;
  height: 19.96px;
  position: absolute;
  left: 32px;
  top: 206.25px;
  overflow: hidden;
}
.group8 {
  position: absolute;
  left: 3px;
  top: 2.49px;
  overflow: visible;
}
.divider30 {
  border-style: solid;
  border-color: var(--light-separators-colors-primary, #e1e1fb);
  border-width: 1px 0 0 0;
  width: 224px;
  height: 0px;
  position: absolute;
  left: 16px;
  top: 172.99px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.store {
  width: 256px;
  height: 66.53px;
  position: static;
}
.margin9 {
  width: 256px;
  height: 66.53px;
  position: absolute;
  left: 0px;
  top: 93.15px;
}
.store2 {
  width: 168px;
  height: 53.23px;
  position: static;
}
.logo {
  background: var(--light-fills-color-image-placeholder, #e2e2ea);
  border-radius: 8px;
  width: 64px;
  height: 53.23px;
  position: absolute;
  left: 32px;
  top: 99.8px;
}
.broto-store {
  color: var(--light-text-color-title, #11142d);
  text-align: left;
  font: var(--menu-menu-1-bold, 700 16px/120% "Mulish", sans-serif);
  position: absolute;
  left: 112px;
  top: 110.61px;
  width: 88px;
  height: 15.8px;
}
.verified {
  color: var(--light-text-link-color-purple, #5541d7);
  text-align: left;
  font: var(--notification-notif-bold, 700 9px/110% "Mulish", sans-serif);
  position: absolute;
  left: 112px;
  top: 133.07px;
  width: 34px;
  height: 8.32px;
}
.header {
  width: 1440px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.background {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.menu5 {
  padding: 9px 0px 9px 0px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 133px;
  top: 11px;
  overflow: hidden;
}
.search {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.cart {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.shopping-bag2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.heart {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
}
.menu6 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 586px;
  top: 35px;
}
.sign-in {
  color: var(--neutral-black, #262d33);
  text-align: left;
  font: 600 14px/150% "Nunito", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.category {
  color: var(--neutral-black, #262d33);
  text-align: left;
  font: 600 14px/150% "Nunito", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.abous-us {
  color: var(--neutral-black, #262d33);
  text-align: left;
  font: 600 14px/150% "Nunito", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-horizontal {
  width: 193px;
  height: 55px;
  position: absolute;
  left: 162px;
  top: 17px;
  overflow: hidden;
}
.group9 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group10 {
  position: absolute;
  left: 55.43px;
  top: 16.92px;
  overflow: visible;
}
.footer {
  background: #f3f3f3;
  padding: 70px 130px 30px 130px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  position: absolute;
  left: 0px;
  top: 2265px;
}
.frame-427320510 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo-vertical {
  flex-shrink: 0;
  width: 286px;
  height: 289px;
  position: relative;
  overflow: hidden;
}
.group11 {
  position: absolute;
  left: 25.15px;
  top: 0px;
  overflow: visible;
}
.group12 {
  position: absolute;
  inset: 0;
}
.group13 {
  position: absolute;
  left: 0.02px;
  top: 238.18px;
  overflow: visible;
}
.group14 {
  position: absolute;
  left: 128.59px;
  top: 242.35px;
  overflow: visible;
}
.group15 {
  position: absolute;
  left: 183.14px;
  top: 250.49px;
  overflow: visible;
}
.menus {
  padding: 0px 89px 0px 58px;
  display: flex;
  flex-direction: row;
  gap: 66px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 700px;
  position: relative;
}
.shop {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.shop-online {
  color: #252a61;
  text-align: left;
  font: 900 20px "Nunito", sans-serif;
  position: relative;
}
.menu7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.new-collection {
  color: #57c2ef;
  text-align: left;
  font: 500 16px/26px "Nunito", sans-serif;
  position: relative;
}
.categories {
  color: #57c2ef;
  text-align: left;
  font: 500 16px/26px "Nunito", sans-serif;
  position: relative;
}
.gallery {
  color: #57c2ef;
  text-align: left;
  font: 500 16px/26px "Nunito", sans-serif;
  position: relative;
}
.service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.services {
  color: #252a61;
  text-align: left;
  font: 900 20px "Nunito", sans-serif;
  position: relative;
}
.interior-design {
  color: #57c2ef;
  text-align: left;
  font: 500 16px/26px "Nunito", sans-serif;
  position: relative;
}
.product-design {
  color: #57c2ef;
  text-align: left;
  font: 500 16px/26px "Nunito", sans-serif;
  position: relative;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about2 {
  color: #252a61;
  text-align: left;
  font: 900 20px "Nunito", sans-serif;
  position: relative;
}
.contact-us {
  color: #57c2ef;
  text-align: left;
  font: 500 16px/26px "Nunito", sans-serif;
  position: relative;
}
.stores-copy {
  color: #57c2ef;
  text-align: left;
  font: 500 16px/26px "Nunito", sans-serif;
  position: relative;
}
.group-427319792 {
  flex-shrink: 0;
  width: 120px;
  height: 24px;
  position: static;
}
.instagram {
  position: absolute;
  left: 1098px;
  top: 0px;
  overflow: visible;
}
.youtube {
  position: absolute;
  left: 1050px;
  top: 0px;
  overflow: visible;
}
.twitter {
  position: absolute;
  left: 1146px;
  top: 0px;
  overflow: visible;
}
.buho-gt {
  color: #57c2ef;
  text-align: center;
  font: 500 12px/150% "Nunito", sans-serif;
  position: relative;
}
